<div class="slds-align_absolute-center slds-p-top_medium slds-p-bottom_small sfdx-button-bar">
	<a class="slds-button slds-button_brand sfdx-button_large" href="/login<% if (template)  { %>?template=<%= template %><% } %>">Login with your Dev Hub org</a>
</div>