	<p style="height:20px;"/>
	<div class="slds-text-align_center sfdx-note sfdx-slim slds-m-top_large" style="top:10px;">
		Written and shared by <a href="https://twitter.com/WadeWegner" target="_blank">Wade Wegner</a> under Apache 2.0 License and available at <a href="https://github.com/wadewegner/deploy-to-sfdx" target="_blank">https://github.com/wadewegner/deploy-to-sfdx</a>.
		User experience designed by <a href="https://www.linkedin.com/in/bencsnyder/" target="_blank">Ben Snyder</a>.
		Contributions from <a href="https://twitter.com/andyinthecloud" target="_blank">Andrew Fawcett</a>. 		
	</div>

</body>
</html>