<footer>
	<p class="slds-text-align_center slds-m-top_medium">
		Written and shared by <a href="https://twitter.com/WadeWegner" target="_blank">Wade Wegner</a> under Apache 2.0 License.
		<br /> UX design by <a href="https://github.com/benjisnyder" target="_blank">Ben Snyder</a>.
	</p>
</footer>

</body>
</html>