<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Deploy to Salesforce DX</title>

	<link rel="stylesheet" href="dist/assets/css/main.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="apple-touch-icon" sizes="57x57" href="dist/assets/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="dist/assets/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="dist/assets/favicons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="dist/assets/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="dist/assets/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="dist/assets/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="dist/assets/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="dist/assets/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="dist/assets/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="dist/assets/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="dist/assets/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="dist/assets/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="dist/assets/favicons/favicon-16x16.png">
	<link rel="manifest" href="dist/assets/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="dist/assets/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>

<body>

<header class="slds-m-top_xx-large slds-m-bottom_medium">
    <h1 class="slds-text-heading_large slds-text-align_center"><a class="sfdx-logo" href="/"><img src="dist/assets/images/salesforce_cloud.png" alt="Salesforce.com Logo" title="Salesforce.com Logo" width="67" /> Deploy to Salesforce DX</a></h1>
</header>