<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Deploy to Salesforce DX</title>

	<link rel="stylesheet" href="dist/assets/css/main.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>

<header class="slds-m-top_xx-large slds-m-bottom_medium">
    <h1 class="slds-text-heading_large slds-text-align_center"><a class="sfdx-logo" href="/"><img src="dist/assets/images/salesforce_cloud.png" alt="Salesforce.com Logo" title="Salesforce.com Logo" /> Deploy to Salesforce DX</a></h1>
</header>