<!-- views/pages/about.ejs -->

<% include ../partials/head %>

<main class="sfdx-slim slds-card">
  <a href="/">&lt; Back</a>
  <h2 class="slds-text-heading_medium slds-p-top_medium">About</h2>
  <p>More to come.</p>
</main>

<% include ../partials/footer %>