<% include ../partials/head %>
<script type="text/javascript" src="../../scripts/js-yaml.min.js"></script>
<script type="text/javascript" src="../../scripts/deploying.js"></script>

<main class="slds-card">
  <h2 class="slds-text-heading_medium slds-p-top_medium slds-p-bottom_medium">Deploying <strong><%= template %></strong></h2>

	<div id="loginBlock" style="display: none;">
		<div class="slds-notify_container slds-is-relative slds-m-bottom_large">
		  <div class="slds-notify slds-notify_toast slds-theme_success" role="alert">
		    <span class="slds-assistive-text">warning</span>
		    <div class="slds-notify__content">
					<h2 class="slds-text-heading_small ">Nice! <strong><%= template %></strong> has been deployed!</h2>
					<br />
					<h2 class="slds-text-heading_small ">You can access it at <strong><a id="loginUrl" target="_blank" href=""></a></strong></h2>
		    </div>
		  </div>
		</div>
	</div>

  <textarea id="status" class="slds-m-bottom_small sfdx-output"></textarea>
</main>

<input type="hidden" id="template" value="<%= template %>"></input>

<% include ../partials/footer %>