<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <script type="text/javascript" src="../../scripts/deploying.js"></script>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Deploying</h1>
      <p>From repo: <strong><%= template %><strong></p>
      <textarea class="form-control" rows="10" id="status"></textarea>

    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>