<% include ../partials/head %>
<script type="text/javascript" src="../../scripts/deploy.js"></script>

<main class="sfdx-slim slds-card">
  
  <h2 class="slds-text-heading_medium slds-p-top_medium slds-p-bottom_medium">Confirm Deployment Details</h2>

  <p class="slds-p-bottom_medium">
  	<strong>Deploying to:</strong><br /> 
  	<%= user_name %>
  </p>
  <p>
  	<strong>From repository:</strong><br />
  	<%= template %>
  </p>

  <div class="slds-align_absolute-center slds-p-top_medium slds-p-bottom_small sfdx-button-bar">
  	<button type="button" class="slds-button slds-button_neutral sfdx-button_large" id="no">Cancel</button>
  	<button type="button" class="slds-button slds-button_brand sfdx-button_large" id="yes">Deploy</button>
  </div>
</main>

<input type="hidden" id="template" value="<%= template %>"></input>
<input type="hidden" id="guid" value="<%= guid %>"></input>
  
<% include ../partials/footer %>