<% include ../partials/head %>
<script type="text/javascript" src="../../scripts/deploy.js"></script>

<main class="slds-card slds-text-align_center">
  <h1>Deploy</h1>
  <p>Hello, <strong><%= user_name %></strong>! You've indicated you'd like to deploy: <strong><%= template %></strong>. Is that correct?</p>
  <button type="button" class="btn btn-primary" id="yes">Yes</button>
  <button type="button" class="btn btn-default" id="no">No</button>
</main>

<input type="hidden" id="template" value="<%= template %>"></input>
  
<% include ../partials/footer %>