<!-- views/pages/error.ejs -->

<% include ../partials/head %>

  <div class="sfdx-slim">
    <main class="slds-card slds-text-align_center">
      <h2 class="slds-text-heading_medium slds-p-top_medium slds-m-bottom_small">Sorry, something went wrong!</h2>
      <img src="dist/assets/images/launch.png" alt="Salesforce.com Logo" title="Salesforce.com Logo" />
      <p class="slds-m-top_small slds-m-bottom_small">
        Please send a message to <a href="https://twitter.com/WadeWegner" target="_blank">@WadeWegner</a> for help.
      </p>
      <p class="slds-m-top_small slds-m-bottom_small">
        If you work for Salesforce and it failed during login, it's likely the browser keeps trying to access your Org62 or GUS token (which won't work). Try a fresh browser.
      </p>

    </main>
  </div>

  <% include ../partials/footer %>