<% include ../partials/head %>

<main class="sfdx-slim slds-card">

  <h2 class="slds-text-heading_medium slds-p-top_medium slds-p-bottom_medium">Dev Hub Linked</h2>

  <p class="slds-p-bottom_medium">
  	<strong>Your Dev Hub (username <%= username %>) is now linked to this app. Users can spin up scratch orgs from your hub.  Thanks for sharing!</strong><br />
  </p>

</main>

<% include ../partials/footer %>