<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Salesforce Deployment Made Easy</h1>
      <p>This application makes it easy to deploy a Salesforce DX app directly from Github into your Scratch Org.</p>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>