<% include ../partials/head %>

<div class="sfdx-slim">
	<main class="slds-card slds-text-align_center">
	  <h2 class="slds-text-heading_medium slds-p-top_medium slds-m-bottom_small">Salesforce Deployment Made Easy</h2>
	  <img src="dist/assets/images/launch.png" alt="Salesforce.com Logo" title="Salesforce.com Logo" width="174" />
	  <p class="slds-m-top_small slds-m-bottom_small">An open-source and community-driven tool for one-click Salesforce DX deployments from public repositories to Scratch Orgs.</p>
	  <% if (template) { %>
	  <p>
		<strong>From Repo</strong><br />
		<a href="<%= template %>" target="_new"><%= template %></a>
	  </p>
	  <% } %>
		<% include ../partials/actions %>
		
		<p class="slds-m-around_small">Need a Dev Hub org? Learn how to get one <a href="https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta/sfdx_setup/sfdx_setup_enable_devhub.htm" target="_blank">here</a>.</p>
	</main>

	<div class="slds-card slds-text-align_center">
		<h3 class="slds-text-heading_medium slds-p-top_medium slds-m-bottom_small">Currently <%= deploymentCount %> successful deployments!</h3>
	</div>

	<a class="slds-button slds-button_neutral slds-show slds-m-top_medium sfdx-button_large sfdx-button_mobile" href="/about">Learn More</a>
</div>

<% include ../partials/footer %>