<% include ../partials/head %>

<div class="sfdx-slim">
	<main class="slds-card slds-text-align_center">
	  <h2 class="slds-text-heading_medium slds-p-top_medium slds-m-bottom_small">Salesforce Deployment Made Easy</h2>
	  <img src="dist/assets/images/launch.png" alt="Salesforce.com Logo" title="Salesforce.com Logo" />
	  <p class="slds-m-top_small slds-m-bottom_small">This application makes it easy to deploy a Salesforce DX app directly from Github into your Scratch Org.</p>
		<% include ../partials/actions %>
		
		<p class="slds-m-top_small">(Need a Dev Hub org? Learn how to get one <a href="https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta/sfdx_setup/sfdx_setup_enable_devhub.htm" target="_blank">here</a>.)</p>

		<h2 class="slds-text-heading_medium slds-p-top_medium slds-m-bottom_small">Currently <%= deploymentCount %> successful deployments!</h2>

	</main>

	<a class="slds-button slds-button_neutral slds-show slds-m-top_medium sfdx-button_large sfdx-button_mobile" href="/about">Learn More</a>
</div>

<% include ../partials/footer %>