<% include ../partials/head %>

<main class="sfdx-slim slds-card">

  <h2 class="slds-text-heading_medium slds-p-top_medium slds-p-bottom_large">Want to try your own repo?</h2>
  
  <p class="slds-p-bottom_medium">It's easy. Just use the <img src="/dist/assets/images/DeployToSFDX.svg" /> button.</p>

  <p class="slds-p-bottom_medium">Add the following source to your GitHub repo README:</p>
  
  <div class="slds-card sfdx-code" readonly>[![Deploy](https://deploy-to-sfdx.com/dist/assets/images/DeployToSFDX.svg)](https://deploy-to-sfdx.com)</div>

  <p class="slds-p-top_medium slds-p-bottom_medium">Next, create a <code>.salesforcedx.yaml</code> file in your repo (use what you need):</p>

<div class="slds-card sfdx-code" readonly>scratch-org-def: config/project-scratch-def.json
  assign-permset: true
  permset-name: yourpermset
  run-apex-tests: true
  delete-scratch-org: false
  show-scratch-org-url: true
  open-path: c/YourCustomApp.app
  data-plans:
    - ./data/YourCustomObject1__c-plan.json
    - ./data/YourCustomObject2__c-plan.json
</div>
    
  <p class="slds-p-top_medium slds-p-bottom_medium">That's it! See the <a href="https://github.com/wadewegner/sfdx-simple/" target="_blank">https://github.com/wadewegner/sfdx-simple</a> for an example of the button in action!</p>

  <p class="slds-p-bottom_medium">Embedding the button in an article or blog? Be sure to use the <code>template</code> parameter adjusting it to your GitHub repo.</p>
  
  <div class="slds-card sfdx-code" readonly>[![Deploy](https://deploy-to-sfdx.com/dist/assets/images/DeployToSFDX.svg)](https://deploy-to-sfdx.com?template=https://github.com/wadewegner/sfdx-simple/)</div>
  
</main>

<% include ../partials/footer %>